#info {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 310px;
    padding: 1rem;
    box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
}
#compass{
    display:none;
}
#compass-img{
    width: 300px;
    position: absolute;
    left: 20px;
    bottom: 20px;
}
#compass-ind{
    width: 120px;
    height: 200px;
    position: absolute;
    left: 110px;
    bottom: 105px;
}
#webcam img{
    position: absolute;
    padding: 10px;
    width: 300px;
}
#stat{
    width: 250px;
}